# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# local env files
.env
.env*.local
.env*.example

# type/build caches
*.tsbuildinfo

# playwright
test-results/
playwright-report/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system files
.DS_Store

# other files
plan.md
